html,body{
    height: 100%;
    width: 100%;
}
*{

    margin: 0;
    padding: 0;
}
    ul{
    display: flex;
    padding: 10;
    
    background-color: cyan;
    
}
nav li{
    list-style: none;
    padding: 5px;
}